.card-list{
    min-width: 200px;
    max-width: 400px;
}

primary-color{
    background-color: #3f51b5;;
}

.mat-mdc-raised-button:not(:disabled) {
    background-color: rgb(255, 105, 97) !important;
}